body {
    background: #222222;
    margin-top: 40px;
    width: 100%;
}

.displayTable {
    margin-top: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
