<a id="title">r/{{subname}}</a>

<div class="form-group">
    <label style="color: white;" for="posttitle">Post Title</label>
    <input type="text" class="form-control" id="posttitle" aria-describedby="emailHelp" placeholder="Get Creative">

    <label style="color: white;" for="posttext">Post Text</label>
    <input type="text" class="form-control" id="posttext" aria-describedby="emailHelp" placeholder="Get Creative">
    <button (click)="onSubmit()" style="margin-top: 5px;" type="submit" class="btn btn-primary">Submit</button>
</div>

<div id="subreddits"></div>