/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    background: url('https://papers.co/wallpaper/papers.co-vd76-noir-by-boris-p-borisov-dark-pattern-art-36-3840x2400-4k-wallpaper.jpg');
}

body {
    background-color: black;
}