* {
    color: #ffffff;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50vw;
    color: white;
    font-size: 50px;
    margin-bottom: 75px;
}

#comments {
    /* color: magenta;
    border: 2px solid red; border-radius: 5px; */
    padding: 10px;
}